.page-header-container {
    display: flex;
    align-items: center;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    background: var(--accent-color-white);
    border-bottom: 1px solid #ECECEC;

}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu-item .current {
    color: var(--accent-color)
}


.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {

    position: relative;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /*padding-top:    32px;
    padding-bottom: 32px;*/
    color: var(--accent-color-black);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .menu-contact+.menu-contact {
    margin-left: 50px;
}

.phone-number {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-gray);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
    color: var(--accent-color-gray);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.phone-number:hover,
.phone-number:focus {
    color: var(--accent-color);
    fill: rgba(33, 150, 243, 1);
}

.phone-number:hover .menu-icon,
.phone-number:focus .menu-icon {
    color: var(--accent-color);
    fill: rgba(33, 150, 243, 1);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
    fill: rgba(33, 150, 243, 1);
}

.mail:hover .menu-icon,
.mail:focus .menu-icon {
    color: var(--accent-color);
    fill: rgba(33, 150, 243, 1)
}